<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">ASPNET</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/members']">Matcher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/lists']">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/messages']">Message</a>
      </li>
    </ul>


    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class=" dropdown-toggle text-light" dropdownToggle>
        Welcome {{authService.decodeedToken?.unique_name}}
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/member/edit']"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdow-divider"></div>
        <a class="dropdown-item" (click)="logout()"><i class="fa fa-singout"></i>Logout</a>
      </div>
    </div>

    <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Search"
             [(ngModel)]="model.username" required name="username">
      <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Search"
             [(ngModel)]="model.password" required name="password">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()"
              [disabled]="!loginForm.valid">Login
      </button>
    </form>
  </div>
</nav>



