<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="custom-control-label" style="margin-right: 10px">I am a:</label>
    <label class="radio-inline">
      <input type="radio" class="mr-3" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input type="radio" class="mr-3" value="female" formControlName="gender">Female
    </label>
  </div>

  <div class="form-group">
    <input type="text"
           [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
           class="form-control" placeholder="Username" formControlName="username">
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input type="text"[ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
    placeholder="Date of Birth" formControlName="dateOfBirth" class="form-control" bsDatepicker [bsConfig]="bsConfig">
    <div class="invalid-feedback"
    *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">
      Date of Birth is required</div>
  </div>

  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': registerForm.get('city').errors&& registerForm.get('city').touched}"
    placeholder="City" formControlName="city" class="form-control">
    <div class="invalid-feedback" *ngIf="registerForm.get('city').touched && registerForm.get('city').errors">
      City is required
    </div>
  </div>

  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': registerForm.get('country').errors&& registerForm.get('country').touched}"
           placeholder="Country" formControlName="country" class="form-control">
    <div class="invalid-feedback" *ngIf="registerForm.get('country').touched && registerForm.get('country').errors">
      Country is required
    </div>
  </div>
  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': registerForm.get('knownAs').errors&& registerForm.get('knownAs').touched}"
           placeholder="known As" formControlName="knownAs" class="form-control">
    <div class="invalid-feedback" *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').errors">
      Known As is required
    </div>
  </div>


  <div class="form-group">
    <input type="password"
           [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
           class="form-control" placeholder="Password" formControlName="password">
    <div class="invalid-feedback"
         *ngIf="registerForm.get('password').hasError('required')&&registerForm.get('password').touched">Password is
      required
    </div>
    <div class="invalid-feedback"
         *ngIf="registerForm.get('password').hasError('minlength')&& registerForm.get('password').touched">Password must
      be at lest 4 characters
    </div>
  </div>
  <div class="invalid-feedback"
       *ngIf="registerForm.get('password').hasError('maxlength')&& registerForm.get('password').touched">Password can not exceed
    8 characters
  </div>
  <div class="form-group">
    <input type="password"
           [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched||
           registerForm.hasError('mismatch')&&registerForm.get('confirmPassword').touched}"
           class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
    <div class="invalid-feedback"
         *ngIf="registerForm.get('confirmPassword').hasError('required')&&registerForm.get('confirmPassword').touched">
      Password is  required
    </div>
    <div class="invalid-feedback"
         *ngIf="registerForm.hasError('mismatch')&&registerForm.get('confirmPassword').touched">
      Password must match
    </div>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success" type="submit" (click)="register()"[disabled]="!registerForm.valid" >Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

